p{
    font-family: roboto, arial;
}



.preview{
    width: 300px;
    display: inline-block;
    margin-right: 15px;
}

.channel-picture{
    display: inline-block ;
    vertical-align: top;

}
.video-info{
    display: inline-block;
    
}

.video-title{
    margin-top: 0;
}

.pfp{
    border-radius: 50px;
    width: 40px;
}

.thumbnail-row{
    margin-bottom: 10px;

}