p{
    font-family: roboto, arial;
    margin: 0;
    padding: 0;
    
}



.preview{
    width: 300px;
    display: inline-block;
    margin-right: 15px;
}

.channel-picture{


}
.video-info{
   
    
}

.video-title{
    margin-top: 0;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    width: 200px;
    margin-bottom: 12px;
}

.pfp{
    border-radius: 50px;
    width: 40px;
}

.thumbnail-row{
    margin-bottom: 10px;

}

.video-author , 
.video-stats {
    font-size: 12px;
    color : rgb(96, 96, 96);
}
.video-author{
    margin-bottom: 3px;
}

.video-info-grid{
    display: grid;
    grid-template-columns: 50px 1fr;
   
}